set class-of-service scheduler s1 mode SP
set class-of-service scheduler s2 mode SP
set class-of-service scheduler S3 mode SP

commit




set class-of-service forwarding-class p1F1 local-priority 0
set class-of-service forwarding-class p1F2 local-priority 2
set class-of-service forwarding-class p1F3 local-priority 6

set class-of-service forwarding-class p2F1 local-priority 0
set class-of-service forwarding-class p2F2 local-priority 2
set class-of-service forwarding-class p2F3 local-priority 6

set class-of-service forwarding-class p3F1 local-priority 0
set class-of-service forwarding-class p3F2 local-priority 2
set class-of-service forwarding-class p3F3 local-priority 6


commit




set class-of-service classifier c1 trust-mode dscp
set class-of-service classifier c2 trust-mode dscp
set class-of-service classifier c3 trust-mode dscp

commit




set class-of-service classifier c1 forwarding-class p1F1 code-point 0
set class-of-service classifier c1 forwarding-class p1F2 code-point 2
set class-of-service classifier c1 forwarding-class p1F3 code-point 4


set class-of-service classifier c2 forwarding-class p2F1 code-point 0
set class-of-service classifier c2 forwarding-class p2F2 code-point 2
set class-of-service classifier c2 forwarding-class p2F3 code-point 4


set class-of-service classifier c3 forwarding-class p3F1 code-point 0
set class-of-service classifier c3 forwarding-class p3F2 code-point 2
set class-of-service classifier c3 forwarding-class p3F3 code-point 4

commit




set class-of-service interface ge-1/1/45 classifier c1
set class-of-service interface ge-1/1/46 classifier c2
set class-of-service interface ge-1/1/47 classifier c3

commit

